.passwordForm {
  height: 347px;
  width: 342px;
  border-radius: 5px;
  margin: auto;
  margin-top: 35px;
  margin-right: 400px;
}

.passwordResetLogo {
  height: 100px;
  margin-top: -10px;
  margin-left: -70px;
}

.passwordResetFormTitle {
  font-size: 17px;
  color: #3e3e3e;
  position: absolute;
  top: 130px;
  left: 90px;
}

.forwardButton {
  color: white;
  background-color: #313131;
  border-color: #313131;
  top: -10px;
  left: 215px;
}

.forwardButton:hover {
  color: white;
  background-color: #585858;
  border-color: #585858;
  top: -10px;
  left: 215px;
}

.passwordResetSuccessTitle {
  font-size: 17px;
  color: #3e3e3e;
  position: absolute;
  top: 180px;
  left: 40px;
  text-align: center;
}
